---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseInsensitive
# <windows.h> (and winwrap/win.hpp, which wraps it) must precede other Windows headers
# (commctrl.h, shellapi.h, ...), which depend on its macros (CALLBACK etc.). Force them
# first so SortIncludes can't reorder them alphabetically and break the build.
IncludeCategories:
  - Regex: '"winwrap/detail/user_mode\.hpp"'
    Priority: 0
  - Regex: '"winwrap/win\.hpp"'
    Priority: 1
  - Regex: '<windows\.h>'
    Priority: 1
  - Regex: '<.*\.h>'
    Priority: 2
  - Regex: '<.*>'
    Priority: 3
  - Regex: '".*"'
    Priority: 4
...
